

<div class="centered">
    <div class="container login centeredLogin">
    <h2 class="loginform" style="color:white" >Login</h2>

    <form class = "loginform" action="/auth/login" method="POST">
        <label style="color:white" for="auth-email">Email</label>
        <input id="auth-email" type="email" name="email">
    
        <label style="color:white" for="auth-password">Password</label>
        <input id="auth-password" type="password" name="password">
    
        <input type="submit" value="Log In">
    </form>

    </div>
</div>