
<div class="centered">

    <div class="container signin centeredLogin">
        <h2 class="loginform" style="color:white">Sign Up</h2>

        <form action="/auth/signup" method="POST">
            <label style="color:white" for="new-name">Name</label>
            <input id="new-name" type="text" name="name">

            <label style="color:white" for="new-email">Email</label>
            <input id="new-email" type="email" name="email">
        
            <label style="color:white" for="new-password">Password</label>
            <input id="new-password" type="password" name="password">
        
            <input type="submit" value="Sign up">
        </form>
    </div>

</div>