<h2>
    Enter summoner name in field below
</h2>

<form method="GET" action="/summoner/results">
    <label for="summoner name input">Search Summoner Name:</label>
    <input type="text" name="summoner">
    <button type="submit">Go</button>

</form>