<h2><%= currentUser.name %>'s Profile</h2>

<div>
<ul>
    <li><a href="/champs">List of Champs</a></li>
    <li><a href="/items">List of Items</a></li>
    <li><a href="/summoner">Search for a Summoner</a></li>
</ul>

<ul>
    <li><a href="/profile/champs">List of Favorite Champs</a></li>
    <li><a href="/profile/items">List of Favorite Items</a></li>
    <li><a href="/profile/summoners">List of Favorite Summoners</a></li>
    <li><a href="/builder">Create a Build on your favorite Champions</a></li>
</ul>

</div>


