<h2><%= currentUser.name %>'s Profile</h2>

<div>
<ul>
    <li><a href="/champs">List of Champs</a></li>
    <li><a href="/items">List of Items</a></li>
    <li><a href="/summoner">Search for a Summoner</a></li>
</ul>

<ul>
    <li><a href="/profile/champs">List of Faviorite Champs</a></li>
    <li><a href="/profile/items">List of Faviorite Items</a></li>
    <li><a href="/profile/summoner">List of Faviorite Summoners</a></li>
</ul>

</div>


