
<h3>List of Favorite Summoners</h3>

<% favoriteSummoners.forEach((el)=>{ %>

    <ul>
        <li>
            <h3><%= el.name %> <br></h3>
            <img src="https://ddragon.leagueoflegends.com/cdn/11.22.1/img/profileicon/<%= el.profileIconId %>.png" alt="image of profile icon number <%= el.profileIconId %> ">

        </li>
    </ul>

<% }) %>