<h2><%= currentUser.name %>'s Profile</h2>

<ul>
    <li><a href="/champs">List of Champs</a></li>
    <li><a href="/items">List of Items</a></li>
    <li><a href="/summoner">Search for a Summoner</a></li>
</ul>


