
<nav>
    <a href="/champs">Link to Champs Selection</a>
</nav>

<h2>
    List of LOL Items
</h2>

<div class="item-container">

<% name.forEach((el) =>{ %>

    <div class="items">
        <ul>
            <li><a href="/items/<%= el %>"><%= itemsObj[el].name %></a></li>
        </ul>
    </div>

<% }) %>

</div>