
<nav>
    <a href="/items">Link to items Selection</a>
</nav>

<h2>
    List of LOL Champs
</h2>

<div class="champ-container">

<% champsNames.forEach((el, index) =>{ %>
    <div class="champs">
        <ul>
            <li><a href="/champs/<%= el %>"><%= el %></a></li>
            <img class = "champImg" src="https://ddragon.leagueoflegends.com/cdn/11.22.1/img/champion/<%= el %>.png" alt = "../img/champion/centered/<%= el %>_0.jpg">
        </ul>
    </div>
   
<% }) %>

</div>